
.body {
    background-color: mintcream;
}

.container {

    margin: 0 auto;
    margin-top: 5em;
    min-height: 100vh;
    padding: 20px;
    max-width: 1200px;
    border-radius: 20px;
    background-color: white;

    text-align: center;
}


.propuestas {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 1.2em;
    border-radius: 40px;
    background: #f5f7fa;
}


ul {
    list-style: none;


}


li {
    padding: 5px;
    font-weight: 400;
}


p {
    font-size: x-large;
    font-family: sans-serif;
}


h1 {
    font-family: fantasy;
    font-weight: bold;
    color: #1e40af;
}


h2 {
    font-weight: bolder;
    font-family: cursive;
}


button {
    background-color: darkred;
    color: white;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    margin: 1.8em;
    padding: 0.6em;
}

   .navbar {
       display: flex;
       justify-content: center;
       gap: 20px;
       padding: 16px;
       background: linear-gradient(90deg, #66eaea, #4390ae);
       color: white;
   }

   .navbar a {
       color: black;
       text-decoration: none;
       font-weight: 500;
       padding: 8px 16px;
       border-radius: 6px;
       transition: 0.2s;
   }

.btn {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.25s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

.footer {
    display: flex;
    justify-content: space-around;
    background: #1a1a1a;
    color: #ccc;
    padding: 20px;
    margin-top: 60px;
    font-size: 14px;
}

.footer p {
    margin: 0;
}

.footer p:hover {
    color: #fff;
    transition: 0.3s;
}

.btn-prop{
    border-radius: 10px;
    background-color: #4390ae;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold
}

.btn-prop:hover {
    background: linear-gradient(90deg, #66eaea, #4390ae);
    transform: translateY(-2px);
}