.body {
    background-color: mintcream;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 20px;
    background-color: lightcyan;
    text-align: center;
}

.propuestas {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 1.2em;
    border-radius: 40px;
    background-color: antiquewhite;
}

ul {
    list-style: none;

}

li {
    padding: 5px;
    font-weight: 400;
}

p {
    font-size: x-large;
    font-family: sans-serif;
}

h1 {
    font-family: fantasy;
    font-weight: bold;
}

h2 {
    font-weight: bolder;
    font-family: cursive;
}

button {
    background-color: darkred;
    color: white;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    margin: 1.8em;
    padding: 0.6em;
}

.footer {
    display: flex;
    justify-content: space-around;
    background: #1a1a1a;
    color: #ccc;
    padding: 20px;
    margin-top: 60px;
    font-size: 14px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 6px;
    transition: 0.2s;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
}